/* Nav Bar */

.nav {
    height: 100px;
    background-color: #fff;
    display: inline-flex;
    width: 100%;
}
#timer {
    position: relative;
    float: right;
}
.nav-item {
    margin-top: 30px;
    margin-left: 0;
}

#viewHighScores {
    margin-left: 0;
    /* position: relative; */
    float: left;
}

.nav-link {
    color: indigo;
}

/*Questions*/



.question {
    /* background-color: red; */
    padding: 10px;
    margin-bottom: 10px;
}

.title {
    /* background-color: lime; */
    padding: 5px;
    margin-bottom: 10px;

}

.choices-wrapper {
    /* background-color: blue; */
    padding: 5px;
    margin-bottom: 5px;
    width: 100px;
}

.choice {
    clear: left;
    margin-bottom: 10px;
    width: 100px;
}

.answer {
    background-color: teal;
    padding: 10px;

}
