/* Nav Bar */

.nav {
    height: 100px;
    background-color: #fff;
}

.nav-item {
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
    
}

#viewHighScores {
    margin-left: 0;
    font-weight: bold;
}

.nav-link {
    color: indigo;
}

/*Questions*/



.question {
    background-color: red;
    padding: 10px;
    margin-bottom: 10px;
}

.title {
    background-color: lime;
    padding: 5px;
    margin-bottom: 10px;

}

.choice-wrapper {
    background-color: blue;
    padding: 5px;
    margin-bottom: 5px;
}

.choice {
    background-color: aqua;
    margin-bottom: 10px;
}

.answer {
    background-color: teal;
    padding: 10px;

}
